{% import 'navigation.html' as navigation %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adventures of Albert Mornington</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    {% block styles %}{% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='swap_pixelated_images.js') }}"></script>

</head>
<body>
    <div class="post-content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
