{% extends "base.html" %}
{% import 'google_map.html' as google_map %}
{% import 'timestamp.html' as timestamp %}

{% block content %}
    <img class="image--centered image--500" src="{{ url_for('static', filename='cassis-france/1000_cassis_0.jpg') }}">

    {{ timestamp.render('May 9, 2016', '#008465') }}

    <h1 class="post-title">
        Up and Down the Calanques of Cassis
    </h1>

    <!-- curly quotes: ‘’“” -->

    <p class="post-paragraph">
        I woke up on the morning after kitesurfing feeling like I’d been run over by something massive and destructive. I believe it was a combination of how absolutely freezing I was for a couple hours during and after being in the water with an inadequate wetsuit, and hurting my back (muscles) when the boat bounced me up and down repeatedly on the way back to the harbor. Meanwhile, Albert drove back from the wedding to our little Airbnb near Carqueiranne around 3 or 4 in the morning, and had to jump the fence because I wouldn’t answer my phone. (This wasn’t the U.S.A., so he didn’t need to worry about being shot while jumping the fence because our hosts mistook him for a trespasser.) But for some reason he woke up earlier than I did, burrowed into the blanket and started eating pussy before I even opened my eyes. Being basically incapacitated because of my back injury, I starfished the entire time we made love, and (despite being quite achey) rather enjoyed myself, too.
    </p>

    <p class="post-paragraph">
        Energized by the morning’s events, I was ready to see some pretty sights. And we did see some pretty sights, like this one:
    </p>

    <img class="image--centered image--1000" src="{{ url_for('static', filename='cassis-france/1000_cassis_3.jpg') }}">

    <p class="post-paragraph">
        I would describe a calanque as a gorgeous bay in a series of gorgeous bays, walled in by rocky cliffs that are pleasing to the eye. Wikipedia says: “A calanque is a narrow, steep-walled inlet that is developed in limestone, dolomite, or other carbonate strata and found along the Mediterranean coast.”
    </p>

    {{ google_map.render(43.2149612,5.4229805) }}
    
    <p class="post-paragraph">
        I knew all that before we checked out of our Airbnb. What I didn’t know was that there was hiking involved, and not the kind where you walk along a gently sloping footpath, or even some stairs. To get the most out of your visit to the calanques, you first hike down to see the beautiful turquoise water and then back up for the beautiful viewI was wearing Keds. 
    </p>

    <img class="image--centered image--1000" src="{{ url_for('static', filename='cassis-france/1000_cassis_1.jpg') }}">
    <img class="image--centered image--1000" src="{{ url_for('static', filename='cassis-france/1000_cassis_4.jpg') }}">
    <img class="image--centered image--1000" src="{{ url_for('static', filename='cassis-france/1000_cassis_5.jpg') }}">
    <img class="image--centered image--1000" src="{{ url_for('static', filename='cassis-france/1000_cassis_6.jpg') }}">
    <img class="image--centered image--1000" src="{{ url_for('static', filename='cassis-france/1000_cassis_2.jpg') }}">
{% endblock %}
