{% extends "base.html" %}
{% import 'google_map.html' as google_map %}
{% import 'timestamp.html' as timestamp %}

{% block content %}
    <img class="image--centered image--500" src="{{ url_for('static', filename='cassis-france/1000_cassis_0.jpg') }}">

    {{ timestamp.render('May 9, 2016', '#008465') }}

    <h1 class="post-title">
        Up and Down the Calanques of Cassis
    </h1>

    <!-- curly quotes: ‘’“” -->

    <p class="post-paragraph">
        I woke up on the morning after kitesurfing feeling like I’d been run over by something massive and destructive. I believe it was a combination of how absolutely freezing I was for a couple hours during and after being in the water with an inadequate wetsuit, and hurting my back (muscles) when the boat bounced me up and down repeatedly on the way back to the harbor. Meanwhile, Albert drove back from the wedding to our little Airbnb near Carqueiranne around 3 or 4 in the morning, and had to jump the fence because I wouldn’t answer my phone. (This wasn’t the U.S.A., so he didn’t need to worry about being shot while jumping the fence because our hosts mistook him for a trespasser.) But for some reason he woke up earlier than I did, burrowed into the blanket and started eating pussy before I even opened my eyes. Being basically incapacitated because of my back injury, I starfished the entire time we made love, and (despite being quite achey) rather enjoyed myself, too.
    </p>

    <p class="post-paragraph">
        Energized by the morning’s events, I was ready to see some pretty sights. And we did see some pretty sights, like this one:
    </p>

    <img class="image--centered image--1000" src="{{ url_for('static', filename='cassis-france/1000_cassis_3.jpg') }}">

    <p class="post-paragraph">
        I would describe a calanque as a gorgeous bay in a series of gorgeous bays, walled in by rocky cliffs that are pleasing to the eye. Wikipedia says: “A calanque is a narrow, steep-walled inlet that is developed in limestone, dolomite, or other carbonate strata and found along the Mediterranean coast.”
    </p>

    {{ google_map.render(43.2149612,5.4229805) }}
    
    <p class="post-paragraph">
        I was surprised to find out that there was hiking involved, and not the kind where you walk along a gently sloping footpath, or even some stairs. To get the most out of your visit to the calanques, you first hike <i>down</i> to see the water and then back up for the view. The hiking trails were delightfully color-coded and marked on rocks, a much better system for distinguishing between different trails than the piles of rock that a lot of English and American hiking trails use, in my opinion. I was wearing Keds, and some old French hikers yelled at me and shook their heads, but it worked out okay. (If it had been raining that would have been a different story, but it was dry.)
    </p>

    <img class="image--centered image--1000" src="{{ url_for('static', filename='cassis-france/1000_cassis_5.jpg') }}">
    <img class="image--centered image--1000" src="{{ url_for('static', filename='cassis-france/1000_cassis_6.jpg') }}">

    <p class="post-paragraph">
        We had lunch at calanque #3, which is supposed to be the prettiest of all the calanques. There was a conveniently washed up log perfect for sitting on by the water. Since we were in Albert’s territory (France) he planned everything, which meant that we had some French picnic food - baguette with pate. Which tasted better than it looked. Albert bravely wet his feet before I tried wading out. It was May and the water was pretty cold, but we did see some desperate bikini-clad water-goers trying to smile for the camera with clenched, chattering teeth.
    </p>

    <img class="image--centered image--1000" src="{{ url_for('static', filename='cassis-france/1000_cassis_4.jpg') }}">

    <p class="post-paragraph">
        After lunch, we hiked back up for the views, and were rewarded with something straight out of a postcard or stock photo. (It is such a shame that any picture that you’ll take in your travels will be inferior to that photo in a 10-cent postcard of the same vista.)
    </p>

    <img class="image--centered image--1000" src="{{ url_for('static', filename='cassis-france/1000_cassis_1.jpg') }}">

    <p class="post-paragraph">
        We made it back downtown in time for an afternoon gelato. And even when the signs told us that we weren’t allowed to hold hands, we did.
    </p>

    <div class="flex-row sm-full-width">
        <img class="image--centered image--half" src="{{ url_for('static', filename='cassis-france/1000_cassis_7.jpg') }}">
        <img class="image--centered image--half" src="{{ url_for('static', filename='cassis-france/1000_cassis_2.jpg') }}">
    </div>
{% endblock %}
