{% extends "base.html" %}

{% block content %}
    <h1 class="post-title text--centered">
        Hello, World! 
    </h1>

    <div class="profile margin-top-30 margin-bottom-30">
        <img class="image--centered image--200" src="{{ url_for('static', filename='400_albert_profile.png') }}">
    </div>

    <h2 class="post-subtitle text--centered">
        Albert
    </h2>

    <p class="post-paragraph text--centered">
        Albert is a doorstop pupper.
    </p>

    <div class="profile margin-top-30 margin-bottom-30">
        <img class="image--centered image--200" src="{{ url_for('static', filename='400_mornington_profile.png') }}">
    </div>

    <h2 class="post-subtitle text--centered">
        Mornington
    </h2>

    <p class="post-paragraph text--centered">
        Mornington is a blue pig that eats coins.
    </p>

    <p class="post-paragraph">
        Albert and Mornington met after moving to London in 2015 and started living a life of adventure.
    </p>
    
    <p class="post-paragraph">
        Things Albert knows how to do: fix the Internet, take pretty photos of the milky way, make bread porn, patch flat bicycle tires, solder together a living room sound system, obsess over the thermostat in the office and at home, make convincing airplane sounds with his mouth, generate foam with his fur in the bath, and teach Mornington how to cook chicken so that the meat is not too dry.
    </p>

    <p class="post-paragraph">
        Things Mornington knows how to do: come up with all the stuff Albert knows how to do, slowly realize she doesn’t know how to do jack shit. Mornington has a bad habit of getting obsessed with things and then getting bored of them a few months later. Currently waning interests: writing scifi, Electric Daisy Carinval, and lifting heavy plates of iron skewered on heavy iron bars in movements that could best be described as pretending to sit on an invisible chair. Currently waxing interests: surfing sweet (but ideally sub-6-foot not-monster) waves all over the world, learning how to cook Korean food, getting Albert to surf green waves, having a pretty website to upload pictures and unload thoughts that otherwise would be lost to the void.
    </p>
{% endblock %}
