<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adventures of Albert Mornington</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flags.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='d3.v4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='date.format.js') }}"></script>

    <script type="text/javascript">
        var timelineData = JSON.parse('{{ timeline_data|safe }}');
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='timeline.js') }}"></script>

    <!-- external -->
    <!--link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet"-->
</head>
<body>
    <div class="floating-content">
        <div class="title title--medium">
            <p>adventures <span class="preposition">of</span> albert mornington</p>
        </div>

        <div class="navigation--flag-view">
            <i class="flag sprite sprite-uk"></i>
            <i class="flag sprite sprite-france"></i>
            <i class="flag sprite sprite-korea"></i>
            <i class="flag sprite sprite-germany"></i>
            <i class="flag sprite sprite-morocco"></i>
            <i class="flag sprite sprite-spain"></i>
            <i class="flag sprite sprite-us"></i>
        </div>

        <div class="navigation--timeline-view"></div>
    </div>
</body>
</html>
